body {
  font-family: "open sans";
  text-align: center;
  margin: 0;
  text-decoration: none;
}

h1 {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 45px;
  margin: 0;
  text-transform: uppercase;
}
h3 {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 18px;
}

legend,
h2 {
  font-family: "Raleway", sans-serif;
  color: #00a6b3;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

label {
  font-family: "Raleway", sans-serif;
  color: #f15b31;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  margin: 0.5%;
}

input[type="text"] {
  width: 50%;
}

input[type="number"] {
  width: 5%;
}

input,
textarea {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  line-height: 16px;
  border-style: solid;
  border-color: #00a6b3;
  display: inline;
}
#wrapper {
  margin: 0 auto;
}

p {
  font-family: "Raleway";
  line-height: 26px;
  font-size: 18px;
}

header {
  background-color: #f15b31;
  color: #ffffff;
  padding: 30px 20px;
  text-align: center;
}

nav {
  background-color: #00a6b3;
  color: #ffffff;
  padding: 20px;
}

a {
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  margin: 20px;
  color: #00a6b3;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

a:hover {
  border-color: #ffffff;
}

main {
  width: 850px;
  text-align: center;
  margin: 35px auto;
}

footer {
  color: #ffffff;
  text-transform: uppercase;
  padding: 0 20px;
  background-color: #0d2c40;
  font-size: 14px;
  letter-spacing: 0.08em;
  font-weight: 500;
}

.message {
  font-family: "Raleway", sans-serif;
  float: right;
}

.copyright {
  font-family: "Raleway", sans-serif;
  float: left;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.name {
  color: #f15831;
  font-weight: 700;
}
ul.ingredients {
  list-style: none;
  display: block;

  font-family: "Raleway", sans-serif;
  color: #f15b31;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  margin: 0.5%;
}
.instructions {
  list-style: none;
  display: block;

  font-family: "Raleway", sans-serif;
  color: #f15b31;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  margin: 0.5%;
}
.source {
  color: #00a6b3;
  display: block;
  text-align: left;
  font-weight: 300;
}
h3 {
  text-transform: uppercase;
  color: #00a6b3;
  font-weight: 600;
  text-align: left;
}
hr {
  border-color: #f15831;
  font-weight: 600;
}
.form-checkbox {
  margin: 10px;
}
.form-group {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
input {
  color: #00a6b3;
}

textarea {
  display: block;
  color: #00a6b3;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#custom-checkbox:before {
  color: #fff;
  border-color: #00a6b3;
  background-color: #00a6b3;
}

/* Checkbox border radius */
.custom-checkbox .custom-control-label::before {
  border-radius: 0.25rem;
}
